<% @title="About" %>
<hr class='top'>
<div class="row column">
	<div class="large-12 columns">
<h4 style="margin: 0;" class="text-center">ABOUT</h4>
</div>
</div>
<hr class='bottom'>

<div class="row">
	<div class="large-12 columns">
		<ul>
			<li>Designed specifically for research staff and PhDs at King’s, #do1thing gives you all the information you need to find key events and opportunities coming up.  These opportunities may be events, training, courses, job opportunities or reminders of services at King’s, specifically for researchers.
			</li>
			<li>Doing one thing extra might help you find out more about yourself, your career, meet some interesting people or just enhance your time at King’s.  Doing one thing might lead to doing one more thing and after that, who knows?
			</li>
			<li>#do1thing is a project from the King’s Research Conslitancy, funded by the Researcher Development Unit.
			</li>
		</ul>
	</div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

