<style>.fi-social-facebook{color:dodgerblue;font-size:2rem;}.fi-social-youtube{color:red;font-size:2rem;}.fi-social-pinterest{color:darkred;font-size:2rem;}i.fi-social-instagram{color:brown;font-size:2rem;}i.fi-social-tumblr{color:navy;font-size:2rem;}.fi-social-twitter{color:skyblue;font-size:2rem;}</style>

<div class="row">
	<div class="medium-8 columns">
		<p><img src="http://placehold.it/900x450&text=Promoted Article" alt="main article image"></p>
	</div>
	
	<div class="medium-4 columns">
		<p><img src="http://placehold.it/400x200&text=Other cool article" alt="article promo image" alt="advertisement for deep fried Twinkies"></p>
		<p><img src="http://placehold.it/400x200&text=Other cool article" alt="article promo image"></p>
	</div>
</div>

<hr class='top'>
<div class="row column">
<h4 style="margin: 0;" class="text-center">MOST POPULAR</h4>
</div>
<hr class='bottom'>
<div class="row small-up-3 medium-up-4 large-up-5">
<div class="column">
<img src="http://placehold.it/400x370&text=Look at me!" alt="image for article">
</div>
<div class="column">
<img src="http://placehold.it/400x370&text=Look at me!" alt="image for article">
</div>
<div class="column">
<img src="http://placehold.it/400x370&text=Look at me!" alt="image for article">
</div>
<div class="column show-for-medium">
<img src="http://placehold.it/400x370&text=Look at me!" alt="image for article">
</div>
<div class="column show-for-large">
<img src="http://placehold.it/400x370&text=Look at me!" alt="image for article">
</div>
</div>
<hr class='top'>
<div class="row column">
<h4 style="margin: 0;" class="text-center">LATEST OPPORTUNITES</h4>
</div>
<hr class ='bottom'>
<div class="row">
<div class="large-12 columns" style="border-right: 1px solid #E3E5E8;">
<article>
<div class="row">
<div class="large-6 columns">
<p><img src="http://placehold.it/600x370&text=Look at me!" alt="image for article" alt="article preview image"></p>
</div>
<div class="large-6 columns">
<h5><a class='OT' href="#">Opportunity One</a></h5>
<p>
<span><i class="fi-torso"> By Thadeus &nbsp;&nbsp;</i></span>
<span><i class="fi-calendar"> 11/23/16 &nbsp;&nbsp;</i></span>
<span><i class="fi-comments"> 6 comments</i></span>
</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae impedit beatae, ipsum delectus aperiam nesciunt magni facilis ullam.</p>
</div>
</div>
<hr>
<div class="row">
<div class="large-6 columns">
<p><img src="http://placehold.it/600x370&text=Look at me!" alt="image for article" alt="article preview image"></p>
</div>
<div class="large-6 columns">
<h5 ><a class='OT' href="#">Opportunity Two</a></h5>
<p>
<span><i class="fi-torso"> By Thadeus &nbsp;&nbsp;</i></span>
<span><i class="fi-calendar"> 11/23/16 &nbsp;&nbsp;</i></span>
<span><i class="fi-comments"> 6 comments</i></span>
</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae impedit beatae, ipsum delectus aperiam nesciunt magni facilis ullam.</p>
</div>
</div>
<hr>
<ul class="pagination" role="navigation" aria-label="Pagination">
<li class="disabled">Previous <span class="show-for-sr">page</span></li>
<li class="current"><span class="show-for-sr">You're on page</span> 1</li>
<li><a href="#" aria-label="Page 2">2</a></li>
<li><a href="#" aria-label="Page 3">3</a></li>
<li><a href="#" aria-label="Page 4">4</a></li>
<li><a href="#" aria-label="Next page">Next <span class="show-for-sr">page</span></a></li>
</ul>
</article>
</div>
</div>