<% @title="About" %>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-80349983-1', 'auto');
  ga('send', 'pageview');

</script>

<hr class='top'>
	<div class="row column">
		<div class="large-12 columns">
			<h4 style="margin: 0;" class="text-center">ABOUT</h4>
		</div>
	</div>
<hr class='bottom'>

<div class="row">
	<div class="large-12 columns">
		<p> How do I prepare myself for my future? Where do I start? Which activities do other people rate?
			We recognise it can be hard to find the best opportunites for you. But if you #do1thing you will probably;
		</p>
		<ul>
			<li>Learn something about yourself</li>
			<li>Realise what you do, or really don't, want to do
			</li>
			<li>Meet some interesting people
			</li>
			<li> Have an enjoyable experience </li>
		</ul>
		<p> Who knows... you might just do another thing and another! </p>
		<h4> #do1thing </h4>
				<ul>
			<li> Is designed specifically for the 4,700 research staff and postgraduate research students at King’s</li>
			<li>Gives you up to date info on the best activities currently available at King’s
			</li>
			<li>Welcomes content – contact <a href="mailto:do1thing@kcl.ac.uk">do1thing@kcl.ac.uk</a> or tweet <a href="https://twitter.com/kcldo1thing">@kcldo1thing</a>
			</li>
			<li>  Is a project delivered by King’s PhD students through the King’s Research Consultancy, funded by the Researcher Development Unit and Centre for Research Staff Development</li>
		</ul>
	</div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

