<% @title="Contact us" %>
<hr class='top'>
<div class="row column">
	<div class="large-12 columns">
<h4 style="margin: 0;" class="text-center">CONTACT US</h4>
</div>
</div>
<hr class='bottom'>

<div class="row">
	<div class="large-12 columns">
		<p> Do you have an opportunity you’d like to share with the 4,700 researchers at King’s?  Please contact <a href="mailto:do1thing@kcl.ac.uk">do1thing@kcl.ac.uk</a> or tweet <a href="https://twitter.com/kcldo1thing">@kcldo1thing</a> </p>
	</div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

